/* Kopiert alle zentralen App-Styles hierher */


/* Import neuer Schriften */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html {
    margin:0;
    padding:0;
}

body {
    margin:0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

}


/*************** ALLGEMEINES ***************/

h1 {
    font-size: 30px;
    color: #333;
}


/*************** INDEX.HTML ***************/


.card-log {
    width: 100%;
}